@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

:root {
    --fuente-principal: 'Montserrat', sans-serif;

    --dim-sec-1: 3.1em;
    --dim-sec-2: 11.3em;
    --dim-sec-3: 12.5em;
    --dim-sec-4-black: 2.7em;
    --dim-sec-4-semi: 2rem;
    --dim-sec-5: 2.6em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
}

.p_1 {
    font-size: var(--dim-sec-1);
    background-color: black;
    color: white;
    font-weight: 900;
    height: 15vh;
    text-align: center;
    padding-top: 4vh;
}

.p_2 {
    font-size: var(--dim-sec-2);
    background-color: white;
    color: black;
    font-weight: 900;
    height: 20vh;
    text-align: center;
}

.p_3 {
    display: block;
    font-size: var(--dim-sec-3);
    background-color: black;
    color: white;
    font-weight: 900;
    height: 45vh;
    text-align: center;
    padding-top: 10vh;
}

.p_4 {
    display: block;
    font-size: var(--dim-sec-4-black);
    background-color: white;
    color: black;
    font-weight: 900;
    height: 6vh;
    text-align: center;
}

.ps {
    font-weight: 600;
    font-size: var(--dim-sec-4-semi);
}

.p_5 {
    display: block;
    font-size: var(--dim-sec-5);
    background-color: black;
    color: white;
    font-weight: 600;
    height: 14vh;
    text-align: center;
    padding-top: 5vh;
}